<header class="flex justify-between items-center px-4 py-2">

  <div class="flex items-center">
    <img src="https://st.depositphotos.com/2100659/2180/v/450/depositphotos_21805519-stock-illustration-travel-logo-vector-sign.jpg"
         alt="Logo"
         class="w-10 h-10 mr-4">  <h1 class="text-xl font-bold">Congés</h1>
  </div>

  <nav class="">
    <ul class="flex space-x-4">  <li><a routerLink="/" class="text-blue-500 hover:text-blue-700">Accueil</a></li>
      <li><a routerLink="/form" class="text-blue-500 hover:text-blue-700">Poser un Congé</a></li>
      <li><a routerLink="/recap" class="text-blue-500 hover:text-blue-700">Récap Congés</a></li>
    </ul>
  </nav>

  <div class="">
    <img src="assets/images/user-solid-24.png"
         alt="Profile"
         class="w-8 h-8 rounded-full">  </div>
</header>


